{% extends "base.html" %}
{% block title %} Labriego 2.0 {% endblock %}
{% block content %}
<!-- Begin page content -->

  
  <div class="container col-lg-6 ">
    <h1 class="mt-5">
      We help you manage your crop from home
    </h1>
  
    <ul class="list-group col-lg-5 text-center center-block container ">
      <li class="list-group-item lead">How hot are my tomatoes?</li>
      <li class="list-group-item lead">Are my lettuces lacking water?</li>
    </ul>

    <p class="lead">
     With our system you can program your waterings automatically, see at all times the state of the orchard.

        With us you can solve these doubts and much more.
        You can save water and continue to have a productive crop.
    </p>
  
  </div>

{% endblock %}
